[Unit]
Description=Regularly check battery percentage

[Service]
Type=oneshot
Environment="warn_percent=20"
Environment="critical_percent=10"
ExecStart=/home/siddharthist/.config/bin/battery-check

[Install]
WantedBy=timers.target
