[Unit]
Description=lightweight and customizable notification daemon
Documentation=man:dunst(1)
# When systemd stops or restarts the units, that's propagated to this unit.
#PartOf=xorg.service
#After=xorg.service

[Service]
ExecStart=/usr/bin/dunst
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical.target
