!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

! https://unix.stackexchange.com/questions/137844/per-screen-font-config#210792

Xft.dpi:        160

! From https://wiki.archlinux.org/index.php/Infinality#Usage
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

Xcursor.size:   64
Xcursor.theme:  Vanilla-DMZ

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

URxvt.transparent: {{ colorscheme["urxvt transparent"] | default(False) }}
URxvt.tintColor: {{ colorscheme["background"] }}
! 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: {{ colorscheme["urxvt shading"] | default(185) }}
URxvt.loginShell: true
URxvt.saveLines: 10000
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! Fonts

URxvt*font: xft:Hack:size=18
URxvt*boldFont: xft:Hack:size=18

URxvt.allow_bold: true
! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollBar: false
!do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Cursor
URxvt.cursorBlink: true
URxvt.cursorUnderline: false

!-------------------------------------------------------------------------------
! urxvt colorscheme
!-------------------------------------------------------------------------------

*foreground: {{ colorscheme["text"] }}
*background: {{ colorscheme["background"] }}
URxvt.background: {{ colorscheme["background"] }}
*cursorColor: {{ colorscheme["selected"] }}
*pointerColorForeground: {{ colorscheme["selected"] }}

!-------------------------------------------------------------------------------
! Terminal colors (urxvt and maybe others?)
!-------------------------------------------------------------------------------
! black dark/light
*color0: {{ colorscheme["text"] }}
*color8: {{ colorscheme["light black"] }}

! red dark/light
*color1: {{ colorscheme["red"] }}
*color9: {{ colorscheme["light red"] }}

! green dark/light
*color2: {{ colorscheme["green"] }}
*color10: {{ colorscheme["light green"] }}

! yellow dark/light
*color3: {{ colorscheme["yellow"] }}
*color11: {{ colorscheme["light yellow"] }}

! blue dark/light
*color4: {{ colorscheme["selected"] }}
*color12: {{ colorscheme["light blue"] }}

! magenta dark/light
*color5: {{ colorscheme["magenta"] }}
*color13: {{ colorscheme["light magenta"] }}

! cyan dark/light
*color6: {{ colorscheme["cyan"] }}
*color14: {{ colorscheme["light cyan"] }}

! white dark/light
*color7: {{ colorscheme["gray"] }}
*color15: {{ colorscheme["light gray"] }}

!-------------------------------------------------------------------------------
! Rofi (application launcher)
!-------------------------------------------------------------------------------

! rofi.font:                  Fira Code 12 
! rofi.dpi:                   192 
! rofi.lines:                 8 
! rofi.width:                 16 
! rofi.opacity:               100 
! rofi.fake-transparency:     false
! rofi.bw:                    4
rofi.disable-history:       false
rofi.case-sensitive:        false
! Set lazy filter limit
rofi.lazy-filter-limit:     15000
! Row height (in chars)
rofi.eh:                    1
! Do a more fuzzy matching
rofi.fuzzy:                 false
! Use glob matching
rofi.glob:                  false
! Margin between rows
rofi.line-margin:           2

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Separator style (none, dash, solid)
rofi.separator-style:                solid

rofi.color-normal:                   {{ colorscheme["background"] }},{{ colorscheme["text"] }},{{ colorscheme["background-alt"] }},{{ colorscheme["selected"] }},{{ colorscheme["background"] }}
! Color scheme for urgent row
rofi.color-urgent:                   {{ colorscheme["background"] }},{{ colorscheme["red"] }},{{ colorscheme["background-alt"] }},{{ colorscheme["selected"] }},{{ colorscheme["red"] }}
! Color scheme for active row
rofi.color-active:                   {{ colorscheme["background"] }},{{ colorscheme["light gray"] }},{{ colorscheme["background-alt"] }},{{ colorscheme["selected"] }},{{ colorscheme["light gray"] }}
! Color scheme window
! background border color separator color/
rofi.color-window:                   {{ colorscheme["background-alt"] }},{{ colorscheme["background-alt"] }}

